body {
    font-family: Arial, sans-serif;
    background-color: #302424;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #bca1a1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.timer, .stopwatch {
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
